apiVersion: v1
kind: Service
metadata:
  name: {{ include "web3-gateway.fullname" . }}
  labels:
    {{- include "web3-gateway.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  {{- range .Values.service.extraPorts }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol | default "TCP" }}
  {{- end }}
  selector:
    {{- include "web3-gateway.selectorLabels" . | nindent 4 }}
